﻿<div class="container relative-container" escape-auto-focus>
    <button class="navbar-button" ng-click="$ctrl.openCreatPhotoset()">
        <span ng-if="!$ctrl.isClickedAddPhotoSet" class="icon-add-plus-button"></span>
        <span ng-if="$ctrl.isClickedAddPhotoSet" class="icon-clear-button"></span>
    </button>
</div>

<div class="container"
     infinite-scroll='$ctrl.getMorePhotoSets()'
     infinite-scroll-distance='3'
     infinite-scroll-disabled='$ctrl.noMore'>

    <!--TODO-->
    <div class="empty-photosets-text" ng-show="!$ctrl.isClickedAddPhotoSet && $ctrl.photoSets.length == 0" ng-click="$ctrl.openCreatPhotoset()">
        Now create a PhotoSet and upload photos there
    </div>

    <form class="login-form col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 add-photoset-form" name="createPhotoset" novalidate ng-submit="$ctrl.createPhotoset(createPhotoset)" ng-if="$ctrl.isClickedAddPhotoSet">

        <span ng-class="{'error': !$ctrl.createPhotosetModel.clientEmail && createPhotoset.$submitted}" class="input-header" ng-if="$ctrl.createPhotosetModel.clientEmail || createPhotoset.email.$error.pattern || createPhotoset.email.$error.email">Customer Email</span>
        <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.signInInfo.email}">
            <span class="icon-close-envelope" ng-class="{'input-error': !$ctrl.createPhotosetModel.clientEmail && createPhotoset.$submitted}"></span>
            <input ng-class="{'input-error': !$ctrl.createPhotosetModel.clientEmail && createPhotoset.$submitted}"
                   ng-model="$ctrl.createPhotosetModel.clientEmail"
                   name="email"
                   required
                   type="email"
                   class="custom-input"
                   placeholder="Customer Email"
                   maxlength="100"
                   ng-pattern="$ctrl.validation.email.pattern"
                   autocomplete="off" />
        </div>
        <div ng-messages="createPhotoset.email.$error" ng-if="createPhotoset.$submitted" role="alert">
            <p class="error" ng-message="required">{{$ctrl.errors.email.required}}</p>
            <p class="error" ng-message="pattern">{{$ctrl.errors.email.invalid}}</p>
        </div>

        <span ng-class="{'error': createPhotoset.firstFileName.$error.maxlength && createPhotoset.$submitted}" class="input-header" ng-if="$ctrl.createPhotosetModel.firstFileName || createPhotoset.firstFileName.$error.maxlength">First Filename (optional)</span>
        <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.createPhotosetModel.firstFileName}">
            <span class="icon-files" ng-class="{'input-error': createPhotoset.firstFileName.$error.maxlength && createPhotoset.$submitted}"></span>
            <input ng-class="{'input-error': createPhotoset.firstFileName.$error.maxlength && createPhotoset.$submitted}"
                   ng-model="$ctrl.createPhotosetModel.firstFileName" name="firstFileName" class="custom-input" placeholder="First Filename (optional)" ng-maxlength="{{$ctrl.validation.password.maxLength}}" />
        </div>
        <div ng-messages="createPhotoset.firstFileName.$error" ng-if="createPhotoset.$submitted" role="alert">
            <p class="error" ng-message="maxlength">First Filename (optional) must be no more than 40 characters long.</p>
        </div>

        <span ng-class="{'error': createPhotoset.lastFileName.$error.maxlength && createPhotoset.$submitted}" class="input-header" ng-if="$ctrl.createPhotosetModel.lastFileName || createPhotoset.lastFileName.$error.maxlength">Last Filename (optional)</span>
        <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.createPhotosetModel.lastFileName}">
            <span class="icon-files" ng-class="{'input-error': createPhotoset.lastFileName.$error.maxlength && createPhotoset.$submitted}"></span>
            <input ng-class="{'input-error': createPhotoset.lastFileName.$error.maxlength && createPhotoset.$submitted}"
                   ng-model="$ctrl.createPhotosetModel.lastFileName" name="lastFileName" class="custom-input" placeholder="Last Filename (optional)" ng-maxlength="{{$ctrl.validation.password.maxLength}}" />
        </div>
        <div ng-messages="createPhotoset.lastFileName.$error" ng-if="createPhotoset.$submitted" role="alert">
            <p class="error" ng-message="maxlength">Last Filename (optional) must be no more than 40 characters long.</p>
        </div>

        <div class="input-error-container" ng-if="$ctrl.serverError">
            <span class="error">{{$ctrl.serverError}}</span>
        </div>

        <div class="login-button">
            <button type="submit" class="btn-custom btn-black">
                Save
            </button>
        </div>

    </form>

    <section class="custom-container photosets-container" ng-if="!$ctrl.isClickedAddPhotoSet">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="photoSet in $ctrl.photoSets">
            <div ui-sref="photoset({id: photoSet.id})" photosetid="{{photoSet.id}}" event="$event" class="profile-album-item" click-outside="$ctrl.closeStoryMenu($event)" id="profile_post_1" ng-class="{'story-item-active': $ctrl.storyItemActiveId == 'profile_post_1'}">
                <div class="album-item-img" style="background:url('{{photoSet.cover}}') no-repeat center; background-size:cover;" ng-if="photoSet.cover"></div>

                <div class="album-item-img" ng-if="!photoSet.cover">
                    <span class="album-photo-empty-text">
                        Now you can open PhotoSet and upload photos
                    </span>
                </div>

                <div class="album-item-footer">
                    <div class="album-item-name-container">
                        <span class="album-item-name">
                            {{photoSet.clientEmail}}
                        </span>
                        <span class="icon-share" ng-if="!photoSet.isShared" ng-click="$ctrl.photoSetClick(photoSet.id, photoSet.clientEmail, photoSet.cover, $event, $index)"></span>
                        <span class="icon-mail" ng-if="photoSet.isShared" data-toggle="tooltip" data-placement="bottom" uib-popover="Your photo set succssesfully was shared."
                              popover-trigger="'mouseenter'"
                              tooltip-placement="left"
                              popover-placement="left"
                              tooltip-trigger="'mouseenter'"></span>
                    </div>
                    <span class="photo-names">
                        <any ng-if="photoSet.firstFileName && photoSet.lastFileName">
                            {{photoSet.firstFileName}} - {{photoSet.lastFileName}}
                        </any>
                    </span>
                    <div class="album-date">
                        {{photoSet.date | date:'dd-M-yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
