﻿<div class="container settings-container">

    <div class="row">
        <div class="col-md-12">
            <div class="relative-container">
                <a class="back-arrow-container" ui-sref="photoset({id: $ctrl.photoSetId})" ui-sref-opts="{reload: true}">
                    <span class="icon-left-arrow-key"></span>
                </a>
                <span class="payment-tittle">
                    Select your payment method
                </span>
                <form payments class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 payment-form" name="updateProfile" id="CreditCardForm" novalidate ng-submit="$ctrl.updateProfile(updateProfile) ">
                    <div class="custom-radio">
                        <input type="radio" name="paymentCheckbox" id="creditCard" checked  ng-click="$ctrl.isPayPal = false" />
                        <label for="creditCard" class="payment-label">
                            Credit or Debit card
                        </label>
                    </div>
                   
                    <div class="payment-body payment-animation-visa" ng-show="!$ctrl.isPayPal">
                        <div class="payment-form-item">
                            <div class='input-wrapper custom-input' id="card-number"></div>
                            <div id="card-image"></div>
                        </div>
                        <div class="payment-form-item">
                            <div class="payment-small-inputs">


                                <div class="cardinfo-exp-date">

                                    <div class='input-wrapper custom-input' id="expiration-date"></div>
                                </div>

                                <div class="cardinfo-cvv">

                                    <div class='input-wrapper custom-input' id="cvv"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="payment-form-item">
                        <span ng-class="{'error': !$ctrl.updateProfileModel.fullName && updateProfile.$submitted}" class="input-header" ng-show="$ctrl.updateProfileModel.fullName !== undefinde || updateProfile.fullName.$error.maxlength">Full name</span>

                    <div class="payment-form-item">
                        <span ng-class="{'input-error': !$ctrl.updateProfileModel.fullName && updateProfile.$submitted}" class="input-header" ng-show="$ctrl.updateProfileModel.fullName !== undefinde || updateProfile.fullName.$error.maxlength">Full name</span>


                        <input ng-class="{'input-error': !$ctrl.updateProfileModel.fullName && updateProfile.$submitted, 'input-black-border': $ctrl.updateProfileModel.fullName}"
                               ng-model="$ctrl.updateProfileModel.fullName"
                               required
                               name="fullName"
                               type="text"
                               class="custom-input"
                               placeholder="Full name"
                               ng-maxlength="{{$ctrl.validation.fullName.maxLength}}"
                               auto-focus />
                        <div class="input-error-container" ng-messages="updateProfile.fullName.$error" ng-if="updateProfile.$submitted" role="alert">
                            <p class="error" ng-message="required">{{$ctrl.errors.fullName.required}}</p>
                            <p class="error" ng-message="maxlength">{{$ctrl.errors.fullName.maxLength}}</p>
                        </div>
                     
                    </div>
                   


                    <div class="payment-form-item">
                        <div class="payment-small-inputs">
                            <input ng-class="{'input-error': !$ctrl.updateProfileModel.fullName && updateProfile.$submitted, 'input-black-border': $ctrl.updateProfileModel.fullName}"
                                   ng-model="$ctrl.updateProfileModel.fullName"
                                   required
                                   name="fullName"
                                   type="text"
                                   class="custom-input"
                                   placeholder="Expiry Date"
                                   ng-maxlength="{{$ctrl.validation.fullName.maxLength}}"
                                   auto-focus />

                            <input ng-class="{'input-error': !$ctrl.updateProfileModel.fullName && updateProfile.$submitted, 'input-black-border': $ctrl.updateProfileModel.fullName}"
                                   ng-model="$ctrl.updateProfileModel.fullName"
                                   required
                                   name="fullName"
                                   type="text"
                                   class="custom-input"
                                   placeholder="CVV"
                                   ng-maxlength="{{$ctrl.validation.fullName.maxLength}}"
                                   auto-focus />
                        </div>
                    </div>-->
                    <div class="payment-label">
                        <div class="custom-radio">
                            <input type="radio" name="paymentCheckbox" id="paypalCheckbox" ng-click="$ctrl.isPayPal = true" />
                            <label for="paypalCheckbox" class="payment-label">
                                PayPal
                            </label>
                        </div>                       
                    </div>
                 
                    <!--<span ng-class="{'error': !$ctrl.updateProfileModel.email && updateProfile.$submitted}" class="input-header" ng-show="$ctrl.updateProfileModel.email !== undefinde || updateProfile.email.$error.pattern || updateProfile.email.$error.email">Email</span>-->

                    <div class="input-error-container" ng-if="serverError">
                        <span class="error">{{serverError}}</span>
                    </div>

                    <div class="login-button">
                        <button type="submit" class="btn-custom btn-black" id="CreditCardButton"  ng-show="!$ctrl.isPayPal" ng-disabled="progressPayments">
                            Complete <span ng-if="progressPayments"><i class="glyphicon loading-buttons spinning"></i></span>
                        </button>
                        <button class="btn-custom btn-black" id="PaypalButton"  ng-show="$ctrl.isPayPal" ng-disabled="progressPayments">
                            Pay with PayPal <span ng-if="progressPayments"><i class="glyphicon loading-buttons spinning"></i></span>
                        </button>
                    </div>

                </form>
            </div>

        </div>


    </div>

</div>

