﻿<main class="container">
    <div>
        <div class="login-logo" ui-sref="home">
            <img src="../../../Content/images/blackLogo.png" />
        </div>
        <div class="home-second-tittle login-tittle">
            <span class="icon-horizontal-line"></span>  PRIVACY POLICY  <span class="icon-horizontal-line"></span>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <div class="footerpage-container">
                <div class="footerpage-item privacypolicy-item">
                    <div class="footerpage-text">
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text text
                       
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text  text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text  text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                     
                    </div>
                </div>
                <div class="footerpage-item privacypolicy-item">
                    <div class="footerpage-text">
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text  text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>







