﻿<section class="home-first-section">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="first-section-content">
                            <div class="home-logo">
                                <img src="../../Content/images/home_logo.png" />
                            </div>
                            <div class="home-first-text">
                                Love photography. Earn money taking photos.
                            </div>
                            <div class="home-first-buttons">
                                <button class="btn-custom btn-transparent" ui-sref="signup">
                                    Sign Up
                                </button>
                                <button class="btn-custom btn-transparent" ui-sref="signin">
                                    Sign In
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="home-second-section">
    <div class="container-fluid">
        <div class="row">
            <div class="home-second-tittle">
                <span class="icon-horizontal-line"></span>  HOW IT WORKS  <span class="icon-horizontal-line"></span>
            </div>
        </div>
        <div class="row">
            <div class="home-item">
                <div class="col-md-offset-2 col-md-3 col-xs-12">
                    <div class="home-number">
                        01
                    </div>
                    <div class="home-bold-description">
                        Take high quality pictures of people anywhere and anytime
                    </div>
                    <div class="home-light-description home-light-description-left">
                        Join Phobro community.
                        Take pictures of people at the locations near you, where memories are made. Be creative!
                        The more imaginative the pictures the more fun you will have and the more revenue you will earn.
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 no-padding-right home-background-container">
                    <div class="home-photo-1">
                        <div class="triangle-right"></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="home-item">
                <div class="col-md-offset-2 col-md-push-5 col-xs-12">
                    <div class="home-number home-item-padding">
                        02
                    </div>
                    <div class="home-bold-description home-item-padding">
                        Upload photos to Phobro
                    </div>
                    <div class="home-light-description home-item-padding">
                        Once you have created a photoset and have an email for the subjects, the rest is easy! Upload to Phobro through your portal!
                    </div>
                </div>
                <div class="col-md-pull-7 col-xs-12 no-padding-right home-background-container">
                    <div class="home-photo-2">
                        <div class="triangle-left"></div>
                    </div>
                </div>
           

            </div>
        </div>

        <div class="row">
            <div class="home-item">
                <div class="col-md-offset-2 col-md-3 col-xs-12">
                    <div class="home-number">
                        03
                    </div>
                    <div class="home-bold-description">
                        Share the photos with the subjects
                    </div>
                    <div class="home-light-description home-light-description-left">
                        The photosets are automatically watermarked and previews sent to the subjects
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 no-padding-right home-background-container">
                    <div class="home-photo-3">
                        <div class="triangle-right"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="home-item">
              
                <div class="col-md-offset-2 col-md-push-5 col-xs-12">
                    <div class="home-number">
                        04
                    </div>
                    <div class="home-bold-description home-item-padding">
                        Get Paid
                    </div>
                    <div class="home-light-description home-item-padding">
                        Once the subject of the photo has purchased the images, your phobro account will immediately be credited with the funds.
                        Withdraw the funds and enjoy. Happy days!
                    </div>
                </div>
                <div class="col-md-pull-7 col-xs-12 no-padding-right home-background-container">
                    <div class="home-photo-4">
                        <div class="triangle-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <footer-page></footer-page>
        </div>
    </div>
</div>
