﻿
<div class="container"
     infinite-scroll='$ctrl.getMorePhotos()'
     infinite-scroll-distance='3'
     infinite-scroll-disabled='$ctrl.noMore'>

    <div class="row">
        <div class="col-md-12">
            <div class="photosetpage-list-container">

                <div class="photosetpage-list-row">
                    <div class="photosetpage-item" ng-repeat="photo in $ctrl.firstPhotosArray">
                        <img ng-src="{{photo[$ctrl.photoIdnex].middle.path}}" />
                    </div>
                </div>

                <div class="photosetpage-list-row">
                    <div class="photosetpage-item" ng-repeat="photo in $ctrl.secondPhotosArray">
                        <img ng-src="{{photo[$ctrl.photoIdnex].middle.path}}" />
                    </div>

                </div>

                <div class="photosetpage-list-row">
                    <div class="photosetpage-item" ng-repeat="photo in $ctrl.thirdPhotosArray">
                        <img ng-src="{{photo[$ctrl.photoIdnex].middle.path}}" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
