﻿<div class="openphoto-container" ng-class="{'openphoto-container-with-checkout': $ctrl.paymentService.selectedPhotos.length !=0}">
    <div class="openphoto-top-panel">
        <button class="openphoto-btn" ui-sref="photoset({id: $ctrl.photo.photoSetId})" ui-sref-opts="{reload: true}">
            <span class="icon-left-arrow-key"></span>
        </button>
        <button class="openphoto-btn" ng-if="$ctrl.currentUserService.isAuthenticated()" ng-click="$ctrl.deletePhoto($ctrl.photo.id)">
            Delete
        </button>
        <button class="openphoto-btn" ng-if="!$ctrl.currentUserService.isAuthenticated()" ng-class="{'selected-one-photo': $ctrl.paymentService.selectedPhotos.indexOf($ctrl.photo.id) !== -1}" ng-click="$ctrl.selectPhotos($event, $ctrl.photo.id)">
            <span class="icon-shopping-cart" ng-if="$ctrl.paymentService.selectedPhotos.indexOf($ctrl.photo.id) == -1"></span>
            <span class="icon-tick" ng-if="$ctrl.paymentService.selectedPhotos.indexOf($ctrl.photo.id) !== -1"></span>
        </button>
    </div>
    <img ng-src="{{$ctrl.photo[$ctrl.photoIdnex].origin.path}}" />
</div>

<div class='select-photo-panel' ng-if="$ctrl.paymentService.selectedPhotos.length !=0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="select-photo-panel-items">
                    <div class="select-photo-panel-item">
                        <span>
                            Selected photos: <span>{{$ctrl.paymentService.selectedPhotos.length}}</span>
                        </span>
                    </div>
                    <div class="select-photo-panel-item">
                        <span>
                            Total Cost:
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 1">$5</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 2">$8</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 3">$10</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 4">$13</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 5">$15</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length >= 6 && $ctrl.paymentService.selectedPhotos.length <= 7">$17</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length >= 8 && $ctrl.paymentService.selectedPhotos.length <= 10">$20</span>
                        </span>
                    </div>
                    <div class="select-photo-panel-btn">
                        <button class="btn-custom btn-black" ng-click="$ctrl.checkout()">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>