﻿<div class="container settings-container" escape-auto-focus>

    <div class="row">
        <div class="col-md-12">
            <div class="relative-container">
                <a class="back-arrow-container" ui-sref="home" ui-sref-opts="{reload: true}">
                    <span class="icon-left-arrow-key"></span>
                </a>
                <form class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-form" name="updateProfile" novalidate ng-submit="$ctrl.updateProfile(updateProfile)">

                    <span ng-class="{'error': !$ctrl.updateProfileModel.fullName && updateProfile.$submitted}" class="input-header" ng-show="$ctrl.updateProfileModel.fullName || updateProfile.fullName.$error.maxlength || updateProfile.fullName.$error.minlength  || updateProfile.fullName.$error.pattern">Full Name</span>

                    <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.updateProfileModel.fullName}">
                        <span class="icon-user-shape icon-color" ng-class="{'input-error': !$ctrl.updateProfileModel.fullName && updateProfile.$submitted}"></span>
                        <input ng-class="{'input-error': !$ctrl.updateProfileModel.fullName && updateProfile.$submitted}"
                               ng-model="$ctrl.updateProfileModel.fullName"
                               required
                               name="fullName"
                               type="text"
                               class="custom-input"
                               placeholder="Full name"
                               ng-pattern="$ctrl.validation.fullName.pattern"
                               ng-maxlength="{{$ctrl.validation.fullName.maxLength}}"
                               ng-minlength="{{$ctrl.validation.fullName.minLength}}"
                               />
                    </div>

                    <div class="input-error-container" ng-messages="updateProfile.fullName.$error" ng-if="updateProfile.$submitted" role="alert">
                        <p class="error" ng-message="required">{{$ctrl.errors.fullName.required}}</p>
                        <p class="error" ng-message="maxlength">{{$ctrl.errors.fullName.maxLength}}</p>
                        <p class="error" ng-message="minlength">{{$ctrl.errors.fullName.minLength}}</p>
                        <p class="error" ng-message="pattern">{{$ctrl.errors.fullName.invalid}}</p>
                    </div>

                    <span ng-class="{'error': !$ctrl.updateProfileModel.email && updateProfile.$submitted}" class="input-header" ng-show="$ctrl.updateProfileModel.email || updateProfile.email.$error.pattern || updateProfile.email.$error.email">Email</span>


                    <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.updateProfileModel.email}">
                        <span class="icon-close-envelope icon-color"  ng-class="{'input-error': !$ctrl.updateProfileModel.email && updateProfile.$submitted}"></span>
                        <input ng-class="{'input-error': !$ctrl.updateProfileModel.email && updateProfile.$submitted}" ng-model="$ctrl.updateProfileModel.email" name="email" required type="email" class="custom-input" placeholder="Email" maxlength="100" ng-pattern="$ctrl.validation.email.pattern" />

                    </div>
                    <div class="input-error-container" ng-messages="updateProfile.email.$error" ng-if="updateProfile.$submitted" role="alert">
                        <p class="error" ng-message="required">{{$ctrl.errors.email.required}}</p>
                        <p class="error" ng-message="pattern">{{$ctrl.errors.email.invalid}}</p>
                        <p class="error" ng-message="email">{{$ctrl.errors.email.invalid}}</p>
                    </div>

                    <span ng-class="{'error': !$ctrl.updateProfileModel.payPalId && updateProfile.$submitted}" class="input-header" ng-show="$ctrl.updateProfileModel.payPalId || updateProfile.payPalId.$error.pattern || updateProfile.payPalId.$error.email">PayPal ID</span>


                    <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.updateProfileModel.payPalId}">
                        <span class="icon-credit-cards icon-color" ng-class="{'input-error': !$ctrl.updateProfileModel.payPalId && updateProfile.$submitted}"></span>
                        <input ng-class="{'input-error': !$ctrl.updateProfileModel.payPalId && updateProfile.$submitted}" ng-model="$ctrl.updateProfileModel.payPalId" name="payPalId" required class="custom-input" placeholder="PayPal Id" ng-pattern="$ctrl.validation.payPalId.pattern" maxlength="100" type="email" />
                    </div>
                    <div class="input-error-container" ng-messages="updateProfile.payPalId.$error" ng-if="updateProfile.$submitted" role="alert">
                        <p class="error" ng-message="required">{{$ctrl.errors.payPalId.required}}</p>
                        <p class="error" ng-message="pattern">{{$ctrl.errors.payPalId.invalid}}</p>
                        <p class="error" ng-message="email">{{$ctrl.errors.email.invalid}}</p>
                    </div>

                    <div class="input-error-container" ng-if="$ctrl.profileServerError">
                        <span class="error">{{$ctrl.profileServerError}}</span>
                    </div>

                    <div class="login-button">
                        <button type="submit" class="btn-custom btn-black">
                            Update
                        </button>
                    </div>

                </form>
            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-form" name="updatePassword" novalidate ng-submit="$ctrl.updatePassword(updatePassword)">

                <span ng-class="{'error': !$ctrl.updatePasswordModel.oldPassword && updatePassword.$submitted}" class="input-header" 
                      ng-if="$ctrl.updatePasswordModel.oldPassword || updatePassword.oldPassword.$error.minlength || updatePassword.oldPassword.$error.maxlength">Old Password</span>

                <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.updatePasswordModel.oldPassword}">
                    <span class="icon-unlocked-padlock icon-color" ng-class="{'input-error': !$ctrl.updatePasswordModel.oldPassword && updatePassword.$submitted}"></span>
                    <input ng-class="{'input-error': !$ctrl.updatePasswordModel.oldPassword && updatePassword.$submitted}"
                           class="custom-input"
                           placeholder="Old Password"
                           ng-model="$ctrl.updatePasswordModel.oldPassword"
                           autocomplete="off"
                           ng-minlength="{{$ctrl.validation.password.minLength}}"
                           ng-maxlength="{{$ctrl.validation.password.maxLength}}"
                           name="oldPassword"
                           type="password"
                           required
                           auto-focus />
                </div>

                <div class="input-error-container" ng-messages="updatePassword.oldPassword.$error" ng-if="updatePassword.$submitted">
                    <p class="error" ng-message="minlength">{{$ctrl.errors.password.minLength}}</p>
                    <p class="error" ng-message="maxlength">{{$ctrl.errors.password.maxLength}}</p>
                    <p class="error" ng-message="required">{{$ctrl.errors.password.required}}</p>
                </div>

                <span ng-class="{'error': (!$ctrl.updatePasswordModel.newPassword && updatePassword.$submitted) || ($ctrl.isSpace($ctrl.updatePasswordModel.newPassword) && !updatePassword.newPassword.$invalid)}" class="input-header"
                      ng-if="$ctrl.updatePasswordModel.newPassword || updatePassword.newPassword.$error.minlength || updatePassword.newPassword.$error.maxlength">New Password</span>

                <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.updatePasswordModel.newPassword}">
                    <span class="icon-unlocked-padlock icon-color" ng-class="{'input-error': (!$ctrl.updatePasswordModel.newPassword || $ctrl.isMatch()) && updatePassword.$submitted}"></span>
                    <input ng-class="{'input-error': (!$ctrl.updatePasswordModel.newPassword) && updatePassword.$submitted, 'input-black-border': $ctrl.updatePasswordModel.newPassword}"
                           class="custom-input"
                           placeholder="New Password"
                           ng-model="$ctrl.updatePasswordModel.newPassword"
                           autocomplete="off"
                           ng-minlength="{{$ctrl.validation.password.minLength}}"
                           ng-maxlength="{{$ctrl.validation.password.maxLength}}"
                           name="newPassword"
                           type="password"
                           required
                          />
                </div>

                <div class="input-error-container" ng-messages="updatePassword.newPassword.$error" ng-if="updatePassword.$submitted">
                    <p class="error" ng-message="minlength">{{$ctrl.errors.password.minLength}}</p>
                    <p class="error" ng-message="maxlength">{{$ctrl.errors.password.maxLength}}</p>
                    <p class="error" ng-message="required">{{$ctrl.errors.password.required}}</p>
                </div>

                <div class="input-error-container">                   
                    <p class="error" ng-if="$ctrl.isSpace($ctrl.updatePasswordModel.newPassword) && !updatePassword.newPassword.$invalid">This field is incorrect</p>
                </div>

                <span ng-class="{'error': (updatePassword.confirmPassword.$touched && $ctrl.isMatch() && !updatePassword.confirmPassword.$invalid) || (updatePassword.confirmPassword.$invalid && updatePassword.$submitted) || ($ctrl.isSpace($ctrl.updatePasswordModel.confirmPassword) && !updatePassword.confirmPassword.$invalid)}" class="input-header"
                      ng-if="($ctrl.updatePasswordModel.confirmPassword || updatePassword.confirmPassword.$error.minlength || updatePassword.confirmPassword.$error.maxlength) || ($ctrl.isMatch() && !updatePassword.confirmPassword.$invalid)">Confirm New Password</span>
                <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.updatePasswordModel.confirmPassword}">
                    <span class="icon-unlocked-padlock icon-color"  ng-class="{'input-error': (!$ctrl.updatePasswordModel.confirmPassword || $ctrl.isMatch()) && updatePassword.$submitted}"></span>
                    <input ng-class="{'input-error': (!$ctrl.updatePasswordModel.confirmPassword || $ctrl.isMatch()) && updatePassword.$submitted, 'input-black-border': $ctrl.updatePasswordModel.confirmPassword}"
                           class="custom-input"
                           placeholder="Confirm New Password"
                           ng-model="$ctrl.updatePasswordModel.confirmPassword"
                           autocomplete="off"
                           ng-minlength="{{$ctrl.validation.password.minLength}}"
                           ng-maxlength="{{$ctrl.validation.password.maxLength}}"
                           name="confirmPassword"
                           type="password"
                           required
                            />
                </div>

                <div class="input-error-container" ng-messages="updatePassword.confirmPassword.$error" ng-if="updatePassword.$submitted">
                    <p class="error" ng-message="minlength">{{$ctrl.errors.password.minLength}}</p>
                    <p class="error" ng-message="maxlength">{{$ctrl.errors.password.maxLength}}</p>
                    <p class="error" ng-message="required">{{$ctrl.errors.password.required}}</p>
                    
                </div>
                
                <div class="input-error-container">
                    <p class="error" ng-if="!$ctrl.isSpace($ctrl.updatePasswordModel.confirmPassword) && updatePassword.confirmPassword.$touched && $ctrl.isMatch() && !updatePassword.confirmPassword.$invalid">{{$ctrl.errors.password.incorrect}}</p>
                    <p class="error" ng-if="$ctrl.isSpace($ctrl.updatePasswordModel.confirmPassword) && !updatePassword.confirmPassword.$invalid">This field is incorrect</p>
                </div>

                <div class="input-error-container" ng-if="$ctrl.serverError">
                    <p class="error">{{$ctrl.serverError}}</p>
                </div>

                <div class="login-button">
                    <button type="submit" class="btn-custom btn-black">
                        Change
                    </button>
                </div>

            </form>

        </div>
    </div>

    <div class="settings-bottom-panel">
        <button type="submit" class="btn-custom btn-transparent-singOut" ng-click="$ctrl.logOut()">
            Sign Out
        </button>
    </div>
</div>
