﻿<main class="container">
    <div>
        <div class="login-logo" ui-sref="home">
            <img src="../../../Content/images/blackLogo.png" />
        </div>
        <div class="home-second-tittle login-tittle">
            <span class="icon-horizontal-line"></span>  FAQ  <span class="icon-horizontal-line"></span>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <div class="footerpage-container">
                <div class="footerpage-item">
                    <div class="footerpage-tittle">
                        General
                    </div>
                    <div class="footerpage-text">
                        <p><em>What is Phobro?</em></p><br>
                        <p> Phobro is a trusted platform to enable photographers to earn money by taking high quality street photography and distribute them easily to the subjects of the photos.</p><br>
                        <p><em>What main problem is Phobro Solving?</em></p><br>
                        <p>
                            Phobro handles all the back office issues of photo distribution on behalf of the photographer. Phobro is the recognized brand for high quality street photography.
                        </p><br>
                        <p><em>Who is Phobro for?</em></p><br>
                        <p>
                            <b>Photographers</b> who want to earn extra cash whilst out and about or on tour. There is no minimum effort. It is completely flexible, work when you want for as long as you want.
                            The more creative you become, the better locations you chose, if you can have samples of shots, the more likely subjects are to purchase the photos – get creative.
                            Semi-professional photographers who want a supplemental income, Phobro is ideal because it is completely flexible.
                        </p><br>
                        <p>
                            <b>Users</b> get the benefits of low cost professional images in the places where memories are made. These are the type of photos users you print, frame and enjoy forever!
                        </p><br>
                        <p><em>How do I contact support?</em></p><br>
                        <p>
                            Just send us a mail – <a>support@phobro.com</a>  one of our happiness officers will be in touch on the double.
                        </p>
                    </div>
                </div>
                <div class="footerpage-item">
                    <div class="footerpage-tittle">
                        For photographers
                    </div>
                    <div class="footerpage-text">
                        <p><em>How do I make money using Phobro?</em></p><br>
                        <p>Photographers earn 50% of all revenue received from sale of images taken by them.</p><br />
                        <p><em>What do I need to start earning money with Phobro?</em></p><br />
                        <p>A high quality camera, DSLR or mirrorless. A computer. Creativity.</p><br />
                        <p><em>How much will I earn?</em></p><br />
                        <p>This depends entirely on your choice of location, quality of images and the amount of time you dedicate. The possibilities are endless.</p><br />
                        <p><em>How do I get paid?</em></p><br />
                        <p>Currently we pay photographers through PayPal.</p><br />
                        <p><em>When will I get paid?</em></p><br />
                        <p>Once a user purchases your images, phobro will credit your account. When you want to select withdraw funds and we will send to your PayPal.</p><br />
                        <p><em>Is there any advice to get started?</em></p><br />
                        <p>Yes, we will send you information and get started pack on signup!</p><br />
                        <p><em>I have over 10 photos of 1 subject, how is this handled?</em></p><br />
                        <p>Create multiple photosets with the same user email. They will receive separate emails with links to the different photosets.</p><br />
                        <p><em>What is the file size and format required for upload to phobro?</em></p><br />
                        <p>Photo must be at least 1000x1000 pixels and no more then 10000x10000 pixels and match .jpg, .jpeg, .png formats.</p>                                       
                    </div>
                </div>
                <div class="footerpage-item">
                    <div class="footerpage-tittle">
                        Users
                    </div>
                    <div class="footerpage-text">
                        <p><em>How much do photos cost?</em></p><br />
                        <p>
                        <p>1 = $5</p>
                        <p>2 = $8</p>
                        <p>3 = $10</p>
                        <p>4 = $13</p>
                        <p>5 = $15</p>
                        <p>6-7 = $17</p>
                        <p>8-10 = $ 20</p>
                        </p><br />
                        <p><em>How long will photos remain on site?</em></p><br />
                        <p>Link to buy remains live for 30 days. Users will get a reminder 7 days, and 1 days before link and photos ae permanently deleted.</p><br />
                        <p><em>Can I delete the photos of me?</em></p><br />
                        <p>Sure. Just request at support@phobro.com</p><br />
                        <p><em>Can I distribute link to unlocked photos?</em></p><br />
                        <p>Yes, once purchased please share with friends and family.</p><br />
                        <p><em>How long will I have to download my paid for photos?</em></p><br />
                        <p>Purchased photos link will remain live for 30 days. After this time link and photos will be permanently deleted.</p><br />
                        <p><em>Will my photos remain on Phobro after I purchase?</em></p><br />
                        <p>For 30 days only. After this time link and photos will be permanently deleted.</p><br />
                        <p><em>Do you keep copies of the photos on file?</em></p><br />
                        <p> No, if they are not purchased they are deleted after 30 days. If they are purchased they are still deleted after 30 days. We do not retain images.</p><br />
                        <p><em>How do I complain?</em></p><br />
                        <p>Oops – please get in touch we take issues very seriously - <a>support@phobro.com</a></p><br />
                        <p><em>How do I thank my photographer?</em></p><br />
                        <p>Ahh – please send us a email we will pass it on - <a>support@phobro.com</a></p>                     
                    </div>
                </div>
                <!--<div class="footerpage-item">
                    <div class="footerpage-tittle">
                        Tittle tittle tittle tittle tittle tittle tittle tittle
                    </div>
                    <div class="footerpage-text">
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text text
                        text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</main>







