﻿<section class="footer-container">
    <span>
        &copy; Phobro, 2018
    </span>
    <div class="footer-middle">
        Follow us 
        <div class="twitter-icon">
            <span class="icon-twitter-border"></span>
            <span class="icon-twitter2"></span>
        </div>
    </div>
    <div class="footer-list">
        <a href="#" ui-sref="faq">
            FAQ
        </a>
        <a href="#" ui-sref="contactUs">
            Contact Us
        </a>
        <a href="#" ui-sref="privacyPolicy">
            Privacy Policy
        </a>
        <a href="#" ui-sref="termsOfUse">
            Terms Of Use
        </a>
    </div>
</section>




