﻿<nav class="navbar general-navbar-container" role="navigation" ng-if="$ctrl.state.current.name !== 'contactUs' && $ctrl.state.current.name !== 'home' && $ctrl.state.current.name !== 'signin' && $ctrl.state.current.name !== 'signup' && $ctrl.state.current.name !== 'faq' && $ctrl.state.current.name !== 'termsOfUse' && $ctrl.state.current.name !== 'privacyPolicy' && $ctrl.state.current.name !== 'signinadmin' && $ctrl.state.current.name !== 'forgotPassword' && $ctrl.state.current.name !== 'resetPassword'" ng-class="{'alternative-navbartop': $ctrl.alternativeNavbartop}">
    <a class="navbar-brand" ng-if="!$ctrl.currentUserService.isAuthenticated()">
        <img src="https://devphobro.blob.core.windows.net/images/blackLogo.png" />
    </a>
    <a class="navbar-brand" ui-sref="home" ui-sref-opts="{reload: true}" ng-if="$ctrl.currentUserService.isAuthenticated()">
        <img src="https://devphobro.blob.core.windows.net/images/blackLogo.png" />
    </a>
    {{$ctrl.params}}
    <div class="navbar-name-container">
        <div class="navbar-name" ng-if="$ctrl.currentUserService.isAuthenticated() && !$ctrl.currentUserService.isAdmin()">
            {{$ctrl.profileService.currentUser.fullName}}
        </div>
        <div class="navbar-name navbar-email" ng-if="$ctrl.currentUserService.isAuthenticated() && $ctrl.currentUserService.isAdmin()">
            {{$ctrl.currentUserService.email}}
        </div>
        <div class="navbar-name" ng-if="!$ctrl.currentUserService.isAuthenticated()">
            {{$ctrl.profileService.currentUser}}
        </div>
        <span class="icon-black-settings-button" ui-sref="settings" ui-sref-active="black-icon" ng-if="$ctrl.currentUserService.isAuthenticated() && !$ctrl.currentUserService.isAdmin()"></span>
        <span tooltip-class="customReportPopover" popover-animation="true" uib-popover-template="$ctrl.adminPopover.templateUrl" popover-placement="bottom" popover-is-open="$ctrl.adminPopover.isOpen" popover-trigger="'outsideClick'" class="icon-down-chevron" ng-if="$ctrl.currentUserService.isAuthenticated() && $ctrl.currentUserService.isAdmin()" ng-mouseenter="$ctrl.adminPopover.isOpen = true"></span>

        <span class="icon-dollar-coin-money" 
              tooltip-class="customTooltipClass" 
              popover-animation="true" 
              uib-popover-template="$ctrl.profilePopover.templateUrl" 
              popover-placement="bottom-center" 
              popover-is-open="$ctrl.userPopover.isOpen" 
              popover-trigger="'mouseenter'"
              ng-if="!$ctrl.currentUserService.isAuthenticated() && $ctrl.state.current.name !== 'photobought'"></span>
    </div>

    <div class="navbar-payment-container" ng-if="$ctrl.currentUserService.isAuthenticated()">
        <div class="navbar-payment-value" ng-if="!$ctrl.currentUserService.isAdmin()">
            $ {{$ctrl.profileService.currentUser.funds}}
        </div>
        <a class="withdraw" ng-if="!$ctrl.currentUserService.isAdmin()" ng-click="$ctrl.withdrawFunds()">
            Withdraw funds
        </a>
    </div>
    <div class="input-error-container" ng-if="$ctrl.withdrawServerError">
        <p class="error">{{$ctrl.withdrawServerError}}</p>
    </div>

    <div class="navbar-payment-container" ng-if="!$ctrl.currentUserService.isAuthenticated()">
        <a class="profile-email">
            {{$ctrl.clientEmail}}
        </a>
    </div>

    <!--<div class="navbar-payment-container" ng-if="$ctrl.currentUserService.isAdmin()">
        <a>
            {{$ctrl.currentUserService.email}}
        </a>
        <span class="icon-down-chevron" uib-popover="Sign out" popover-placement="bottom">
            
        </span>
    </div>-->
    <!--<div class="container relative-container">
        <button class="navbar-button" ng-click="$ctrl.openCreatPhotoset()">
            <span class="icon-add-plus-button"></span>
        </button>
    </div>-->
</nav>


