﻿<div class="profile-popover-container">
    <div class="profile-popover-tittle">
        Price list
    </div>
    <ul>
        <li>
            <div class="profile-popover-list">
                <span>1 photo </span><span>5 $</span>
            </div>
        </li>
        <li>
            <div class="profile-popover-list">
                <span>2 photos </span><span>8 $</span>
            </div>
        </li>
        <li>
            <div class="profile-popover-list">
                <span>3 photos </span><span>10 $</span>
            </div>
        </li>
        <li>
            <div class="profile-popover-list">
                <span>4 photos </span><span>13 $</span>

            </div>
        </li>
        <li>
            <div class="profile-popover-list">
                <span>5 photos </span><span>15 $</span>

            </div>
        </li>
        <li>
            <div class="profile-popover-list">
                <span>6-7 photos </span><span>17 $</span>

            </div>
        </li>
        <li>
            <div class="profile-popover-list">
                <span>8-10 photos </span><span>20 $</span>

            </div>
        </li>
    </ul>
</div>