﻿<div class="custom-modal-container">
    <div class="custom-accept-text">
        {{$ctrl.messege}}
    </div>
    <div class="photosetpage-accept-buttons">
        <button class="btn-custom btn-cancel" ng-click="$ctrl.accept(false)">
            Cancel
        </button>
        <button class="btn-custom btn-black" ng-click="$ctrl.accept(true)">
            I'm sure
        </button>
    </div>
</div>