﻿<div class="custom-modal-container">
    <div class="custom-modal-tittle">
        <span class="icon-tick"></span>
        <span>Great!</span>
    </div>
    <div class="custom-modile-text">
        {{$ctrl.messege}}
    </div>
</div>