﻿<div class="upload-photos" ng-if="$ctrl.isUpload">
    <div class="loading">
        <div class="loading-text">
            <span class="loading-text-words">U</span>
            <span class="loading-text-words">P</span>
            <span class="loading-text-words">L</span>
            <span class="loading-text-words">O</span>
            <span class="loading-text-words">A</span>
            <span class="loading-text-words">D</span>
            <span class="loading-text-words">I</span>
            <span class="loading-text-words">N</span>
            <span class="loading-text-words">G</span>
            <span class="loading-text-words"> </span>
            <span class="loading-text-words">{{$ctrl.filesUpload.length}} </span>
            <span class="loading-text-words"> </span>
            <span class="loading-text-words">P</span>
            <span class="loading-text-words">H</span>
            <span class="loading-text-words">O</span>
            <span class="loading-text-words">T</span>
            <span class="loading-text-words">O</span>
            <span class="loading-text-words" ng-if="$ctrl.filesUpload.length>1">S</span>
        </div>
    </div>
</div>

<div class="container relative-container" ng-if="$ctrl.currentUserService.isAuthenticated()">
    <button class="navbar-button"
            accept="image/*" ngf-select="$ctrl.selectPhoto($files, $invalidFiles)"
            ngf-max-size="20mb"
            ngf-max-files="10"
            ngf-pattern=".jpg,.jpeg,.png"
            ngf-no-object-url="true"
            ngf-max-width="7000"
            ngf-max-height="7000"
            ngf-min-width="1000"
            ngf-min-height="1000"
            multiple>
        <span class="icon-photo-camera"></span>
    </button>
</div>

<div class="container"
     infinite-scroll='$ctrl.getMorePhotos()'
     infinite-scroll-distance='3'
     infinite-scroll-disabled='$ctrl.noMore'>

    <div class="row" ng-if="$ctrl.currentUserService.isAuthenticated()">
        <div class="col-md-12">
            <div class="photosetpage-top-panel">
                <div class="photosetpage-email-arrow-container">
                    <a ui-sref="home" ui-sref-opts="{reload: true}">
                        <span class="icon-left-arrow-key"></span>
                    </a>
                    <span class="photosetpage-name" ng-class="{'no-margin-left': !$ctrl.currentUserService.isAuthenticated()}">
                        {{$ctrl.photoset.clientEmail}}
                    </span>
                </div>
              
                <span class="photosetpage-other-item" ng-if="$ctrl.photoset.firstFileName && $ctrl.photoset.lastFileName">
                    {{$ctrl.photoset.firstFileName}} - {{$ctrl.photoset.lastFileName}}
                </span>
                <span class="photosetpage-other-item">
                    {{$ctrl.photoset.date | date:'dd-M-yyyy'}}
                </span>

                <div class="photosetpage-other-icons-container">
                    <div class="photosetpage-other-item">
                        <div class="icon-clock-container">
                            <span class="icon-clock"
                                  uib-popover="Your photos will be permanently deleted in {{$ctrl.deleteTime |  date:'dd'}} days."
                                  tooltip-class="customTooltipClass"
                                  popover-animation="true"
                                  popover-placement="bottom-center"
                                  popover-is-open="$ctrl.userPopover.isOpen"
                                  popover-trigger="'mouseenter'">

                            </span>
                        </div>
                    </div>
                    <div class="photosetpage-other-item">
                        <div class="icon-mail-container">
                            <span class="icon-mail" ng-if="$ctrl.photoset.isShared"
                                  uib-popover="Your photo set was shared succssesfully."
                                  tooltip-class="customTooltipClass"
                                  popover-animation="true"
                                  popover-placement="bottom-center"
                                  popover-is-open="$ctrl.useraPopover.isOpen"
                                  popover-trigger="'mouseenter'">
                            </span>
                            <span class="icon-share" ng-if="!$ctrl.photoset.isShared" ng-click="$ctrl.sharePhotos()">
                            </span>
                        </div>

                    </div>
                </div>
  
            </div>

        </div>
    </div>

    <div class="row" ng-if="!$ctrl.currentUserService.isAuthenticated()">
        <div class="col-md-12">
            <div class="photosetpage-top-panel">
                <span class="photosetpage-date-message">
                    Your photos will be permanently deleted in {{$ctrl.deleteTime |  date:'dd'}} days.
                </span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="photosetpage-empty-text" ng-if="$ctrl.photos.length == 0 && $ctrl.currentUserService.isAuthenticated()"
             accept="image/*" ngf-select="$ctrl.selectPhoto($files, $invalidFiles)"
             ngf-max-size="20mb"
             ngf-max-files="10"
             ngf-pattern=".jpg,.jpeg,.png,.gif"
             ngf-no-object-url="true"
             ngf-max-width="7000"
             ngf-max-height="7000"
             ngf-min-width="1000"
             ngf-min-height="1000"
             multiple>
            Upload photos here
        </div>
        <div class="col-md-12">
            <div class="photosetpage-list-container">
                <div class="photosetpage-list-row">
                    <div class="photosetpage-item" ui-sref="photo({id: photo.id})" ng-repeat="photo in $ctrl.firstPhotosArray">
                        <img ng-src="{{photo[$ctrl.photoIdnex].middle.path}}" />
                        <div class="photosetpage-item-delete-btn photosetpage-delete-icon" ng-if="$ctrl.currentUserService.isAuthenticated()" ng-click="$ctrl.deletePhoto(photo.id,$event)">
                            <span class="icon-clear-button"></span>
                        </div>
                        <div class="photosetpage-item-delete-btn" ng-if="!$ctrl.currentUserService.isAuthenticated()" ng-class="{'selected-photo': $ctrl.paymentService.selectedPhotos.indexOf(photo.id) !== -1}" ng-click="$ctrl.selectPhotos($event, photo.id)">
                            <span class="icon-shopping-cart icon-download-button" ng-if="$ctrl.paymentService.selectedPhotos.indexOf(photo.id) == -1"></span>
                            <span class="icon-tick" ng-if="$ctrl.paymentService.selectedPhotos.indexOf(photo.id) !== -1"></span>
                        </div>
                    </div>
                    <!--<div class="photosetpage-item">
                        <img src="http://photo.sibnet.ru/upload/imgbig/149870570911134171.jpg" />
                        <div class="photosetpage-item-delete-btn" ng-class="{'selected-photo': $ctrl.isSelectPhoto}" ng-click="$ctrl.testSelectPhoto()">
                            <span class="icon-download-button" ng-if="!$ctrl.isSelectPhoto"></span>
                            <span class="icon-tick" ng-if="$ctrl.isSelectPhoto"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSUywXT9zbIPN8QN7r8UI8QOs9LjtRoxB0J6Lqzh6zEbxr11hGt" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTXk48iWHj0lkD0PsS6S3P8RavuFfctE5pN6tU-j9CdWOfLCini" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="http://t.wallpaperweb.org/wallpaper/buildings/1680x1050/curve_by_braveroy1680x1050.jpg" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>-->
                </div>
                <div class="photosetpage-list-row">
                    <div class="photosetpage-item" ui-sref="photo({id: photo.id})" ng-repeat="photo in $ctrl.secondPhotosArray">
                        <img ng-src="{{photo[$ctrl.photoIdnex].middle.path}}" />
                        <div class="photosetpage-item-delete-btn photosetpage-delete-icon" ng-if="$ctrl.currentUserService.isAuthenticated()" ng-click="$ctrl.deletePhoto(photo.id,$event)">
                            <span class="icon-clear-button"></span>
                        </div>
                        <div class="photosetpage-item-delete-btn" ng-if="!$ctrl.currentUserService.isAuthenticated()" ng-class="{'selected-photo': $ctrl.paymentService.selectedPhotos.indexOf(photo.id) !== -1}" ng-click="$ctrl.selectPhotos($event, photo.id)">
                            <span class="icon-shopping-cart icon-download-button" ng-if="$ctrl.paymentService.selectedPhotos.indexOf(photo.id) == -1"></span>
                            <span class="icon-tick" ng-if="$ctrl.paymentService.selectedPhotos.indexOf(photo.id) !== -1"></span>
                        </div>
                    </div>
                    <!--<div class="photosetpage-item">
                        <img src="http://bm.img.com.ua/nxs/img/prikol/images/large/0/0/307600.jpg" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTXk48iWHj0lkD0PsS6S3P8RavuFfctE5pN6tU-j9CdWOfLCini" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="http://t.wallpaperweb.org/wallpaper/buildings/1680x1050/curve_by_braveroy1680x1050.jpg" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="http://photo.sibnet.ru/upload/imgbig/149870570911134171.jpg" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>-->
                </div>
                <div class="photosetpage-list-row">
                    <div class="photosetpage-item" ui-sref="photo({id: photo.id})" ng-repeat="photo in $ctrl.thirdPhotosArray">
                        <img ng-src="{{photo[$ctrl.photoIdnex].middle.path}}" />
                        <div class="photosetpage-item-delete-btn photosetpage-delete-icon" ng-if="$ctrl.currentUserService.isAuthenticated()" ng-click="$ctrl.deletePhoto(photo.id,$event)">
                            <span class="icon-clear-button"></span>
                        </div>
                        <div class="photosetpage-item-delete-btn" ng-if="!$ctrl.currentUserService.isAuthenticated()" ng-class="{'selected-photo': $ctrl.paymentService.selectedPhotos.indexOf(photo.id) !== -1}" ng-click="$ctrl.selectPhotos($event, photo.id)">
                            <span class="icon-shopping-cart icon-download-button" ng-if="$ctrl.paymentService.selectedPhotos.indexOf(photo.id) == -1"></span>
                            <span class="icon-tick" ng-if="$ctrl.paymentService.selectedPhotos.indexOf(photo.id) !== -1"></span>
                        </div>
                    </div>
                    <!--<div class="photosetpage-item">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRxy11xz6y-Ff9VvwVGAp1FCA_r1gxy2TFmcGXHL0dLUkbDh_cj" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="https://sfw.so/uploads/posts/2013-03/thumbs/1363697965_besthdwallpaperspack861_31.jpg" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHXry_TMCXN1AUrOMzGfLzTi3UANZlbXpLhlEObnHHxmaoBU1asQ" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>
                    <div class="photosetpage-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXIbYqn6ZRCN3t_TnobUbl8ljRWy7hI7YX0af06B33_6xaJFsZ" />
                        <div class="photosetpage-item-delete-btn" ng-click="$ctrl.deletePhoto('59df757861fdfc328cf09bd9')">
                            <span class="icon-clear-button"></span>
                        </div>
                    </div>-->
                </div>
            </div>

        </div>
    </div>
</div>


<div class='select-photo-panel' ng-if="$ctrl.paymentService.selectedPhotos.length !=0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="select-photo-panel-items">
                    <div class="select-photo-panel-item">
                        <span>
                            Selected photos: <span>{{$ctrl.paymentService.selectedPhotos.length}}</span>
                        </span>
                    </div>
                    <div class="select-photo-panel-item">
                        <span>
                            Total Cost:
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 1">$5</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 2">$8</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 3">$10</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 4">$13</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length == 5">$15</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length >= 6 && $ctrl.paymentService.selectedPhotos.length <= 7">$17</span>
                            <span ng-if="$ctrl.paymentService.selectedPhotos.length >= 8 && $ctrl.paymentService.selectedPhotos.length <= 10">$20</span>
                        </span>
                    </div>
                    <div class="select-photo-panel-btn">
                        <button class="btn-custom btn-black" ng-click="$ctrl.checkout()">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>