﻿<main class="container">
        <div class="login-logo" ui-sref="home">
            <img src="../../../Content/images/blackLogo.png" />
        </div>
        <div class="home-second-tittle login-tittle">
            <span class="icon-horizontal-line"></span>  SIGN IN  <span class="icon-horizontal-line"></span>
        </div>
        <form class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-form" name="login" novalidate ng-submit="$ctrl.signIn(login)">

            <span ng-class="{'error': !$ctrl.signInInfo.username && login.$submitted}" class="input-header" ng-if="$ctrl.signInInfo.username != null || login.email.$error.pattern || login.email.$error.email">Email</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.signInInfo.username.length > 0}">
                <span class="icon-close-envelope" ng-class="{'input-error': !$ctrl.signInInfo.username && login.$submitted}"></span>
                <input ng-class="{'input-error': !$ctrl.signInInfo.username && login.$submitted}"
                       ng-model="$ctrl.signInInfo.username" type="email" required name="email" class="custom-input" placeholder="Email"
                       ng-pattern="$ctrl.validation.email.pattern" />
            </div>
            <div ng-messages="login.email.$error" ng-if="login.$submitted" class="input-error-container">
                <p class="error" ng-message="email">Please select correct email</p>
                <p class="error" ng-message="required">Email is required.</p>
            </div>


            <span ng-class="{'error': !$ctrl.signInInfo.password && login.$submitted}" class="input-header" ng-if="$ctrl.signInInfo.password != null || login.password.$error.minlength">Password</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.signInInfo.password}">
                <span class="icon-unlocked-padlock" ng-class="{'input-error': !$ctrl.signInInfo.password && login.$submitted}"></span>
                <input ng-class="{'input-error': !$ctrl.signInInfo.password && login.$submitted}"
                       ng-model="$ctrl.signInInfo.password" required type="password" name="password" class="custom-input" placeholder="Password" />

            </div>
            <div ng-messages="login.password.$error" ng-if="login.$submitted" class="input-error-container">
                <p class="error" ng-message="required">Password is required.</p>
            </div>
            <div class="server-error-container" ng-if="$ctrl.serverError">
                <span class="error">{{$ctrl.serverError}}</span>
            </div>


            <div class="login-button">
                <button type="submit" class="btn-custom btn-black">
                    Sign in
                </button>
            </div>
        </form>
        <!--<div class="login-image-container">

        </div>-->
</main>








<!--<main class="container">
    <div class="login-general-container">
        <form name="login" novalidate ng-submit="$ctrl.signIn(login)">
            <article class="login-body">
                <h4 class="login-tittle">
                    Log in Admin
                </h4>
                <br />
                <input ng-class="{'input-error': !$ctrl.signInInfo.username && login.$submitted}" ng-model="$ctrl.signInInfo.username" type="email" required name="email" class="custom-input" placeholder="Email" />
                <div ng-messages="login.email.$error" ng-if="login.$submitted">
                    <p class="error" ng-message="email">Please select correct email</p>
                    <p class="error" ng-message="required">Email is required.</p>
                </div>

                <input ng-class="{'input-error': !$ctrl.signInInfo.password && login.$submitted}" ng-model="$ctrl.signInInfo.password" required type="password" name="password" class="custom-input" placeholder="Password" />
                <div ng-messages="login.password.$error" ng-if="login.$submitted">
                    <p class="error" ng-message="required">Password is required.</p>
                </div>
                <div class="server-error-container" ng-if="$ctrl.serverError">
                    <span class="error">{{$ctrl.serverError}}</span>
                </div>
            </article>
            <div class="login-footer">
                <a ui-sref="forgotPassword" href="#" class="btn btn-custom blue-link pull-left">
                    Forgot password ?
                </a>
                <button class="btn btn-blue btn-custom btn-login pull-right" type="submit">
                    Log in
                </button>
            </div>
        </form>

    </div>

</main>-->



