﻿    <ul class="pagination">
        <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}">
            <a href="" ng-click="selectPage(1)" title="First Page">
                <span class="icon-right"></span>
            </a>
        </li>
        <li ng-if="directionLinks && !noPrevious()" ng-class="{disabled: noPrevious()}">
            <a href="" ng-click="selectPage(page - 1)" title="Previous Page">
                <span class="icon-left"></span>
            </a>
        </li>
        <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}">
            <a href="" ng-click="selectPage(page.number)" ng-class="{highlight: ShouldHighlightPage(page.number)}">
                {{page.text}}
            </a>
        </li>
        <li ng-if="directionLinks && !noNext()" ng-class="{disabled: noNext()}"><a href="" ng-click="selectPage(page + 1)" title="Next Page"><span class="icon-right"></span></a></li>

    </ul>
