﻿<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="admin-table-top-container">
                <span class="admin-table-users-count">
                    Users ({{$ctrl.totalItems}})
                </span>
                <div class="relative-container admin-search-container">
                    <input class="custom-input" type="text" placeholder="Search by email" ng-model="$ctrl.email" ng-model-options="{debounce: 300}" ng-change="$ctrl.pageChanged()" maxlength="140" />
                    <span class="icon-magnifying-glass-browser"></span>
                </div>
            </div>

            <div class="empty-search-text" ng-if="$ctrl.searchusers.users.length == 0">
                No search result
            </div>

            <div class="table-container" ng-if="$ctrl.searchusers.users.length != 0">
                <div class="admin-table-container">
                    <table class="table custom-table admin-table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    <div class="admin-revenue-content">
                                        Revenue
                                    </div>
                                </th>
                                <th>
                                    PayPal ID
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in $ctrl.searchusers.users">
                                <td>
                                    <div class="table-name">
                                        {{user.fullName}}
                                    </div>
                                </td>
                                <td>
                                    <div class="table-name">
                                        {{user.email}}
                                    </div>
                                </td>
                                <td class="admin-table-cost">
                                    <div class="admin-revenue-content">
                                        <span class="table-cost-value" ng-class="{'red-cost': user.isWithdraw}">
                                            $ {{user.funds}}
                                        </span>
                                        <span class="icon-question" ng-if="user.isWithdraw" uib-popover="{{user.fullName}} sent you a mail request for payment" popover-trigger="'mouseenter'" popover-placement="bottom"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-name">
                                        {{user.payPalId}}
                                    </div>
                                </td>
                                <td class="admin-table-button">
                                    <button class="btn-custom btn-black" ng-click="$ctrl.sendFunds(user.id, user.funds)">Send funds</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="admin-table-pagination text-center" ng-if="$ctrl.searchusers.users.length != 0">
                <ul uib-pagination template-url="app/admin/adminPagination.html" items-per-page="$ctrl.countPage" total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" max-size="$ctrl.maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="$ctrl.pageChanged()"></ul>
            </div>
        </div>
    </div>
</div>