﻿<ul class="popover-list custom-dropdown admin-popover" ng-mouseleave="$ctrl.adminPopover.isOpen = false">
    <li>
        <a ng-click="$ctrl.logOut()">
            Sign out
        </a>
    </li>
</ul>