﻿<main class="container">
        <div class="login-logo" ui-sref="home">
            <img src="../../../Content/images/blackLogo.png" />
        </div>
        <div class="home-second-tittle login-tittle">
            <span class="icon-horizontal-line"></span>  CONTACT US  <span class="icon-horizontal-line"></span>
        </div>
        <form class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-form contact-us-form" name="contactUs" novalidate ng-submit="$ctrl.contactUs(contactUs)">
            <span ng-class="{'error': !$ctrl.contactUsModel.fullName && contactUs.$submitted}" class="input-header" 
                   ng-if="$ctrl.contactUsModel.fullName || contactUs.fullName.$error.maxlength || contactUs.fullName.$error.minlength  || contactUs.fullName.$error.pattern">Full Name</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.contactUsModel.fullName}">
                <span class="icon-user-shape" ng-class="{'input-error': !$ctrl.contactUsModel.fullName && contactUs.$submitted}"></span>
                <input ng-class="{'input-error': !$ctrl.contactUsModel.fullName && contactUs.$submitted}"
                       ng-model="$ctrl.contactUsModel.fullName"
                       required
                       name="fullName"
                       type="text"
                       class="custom-input"
                       placeholder="Full Name"
                       ng-pattern="$ctrl.validation.fullName.pattern"
                       ng-maxlength="{{$ctrl.validation.fullName.maxLength}}"
                       ng-minlength="{{$ctrl.validation.fullName.minLength}}"
                       auto-focus />
            </div>

            <div ng-messages="contactUs.fullName.$error" ng-if="contactUs.$submitted" role="alert">
                <p class="error" ng-message="required">{{$ctrl.errors.fullName.required}}</p>
                <p class="error" ng-message="maxlength">{{$ctrl.errors.fullName.maxLength}}</p>
                <p class="error" ng-message="minlength">{{$ctrl.errors.fullName.minLength}}</p>
                <p class="error" ng-message="pattern">{{$ctrl.errors.fullName.invalid}}</p>
            </div>

            <span ng-class="{'error': !$ctrl.contactUsModel.email && contactUs.$submitted}" class="input-header" ng-if="$ctrl.contactUsModel.email || contactUs.email.$error.pattern">Email</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.contactUsModel.email}">
                <span class="icon-close-envelope" ng-class="{'input-error': !$ctrl.contactUsModel.email && contactUs.$submitted}"></span>
                <input ng-class="{'input-error': !$ctrl.contactUsModel.email && contactUs.$submitted}"
                       ng-model="$ctrl.contactUsModel.email"
                       name="email"
                       required
                       type="email"
                       class="custom-input"
                       placeholder="Email"
                       maxlength="100"
                       autocomplete="off"
                       ng-pattern="$ctrl.validation.email.pattern" />
            </div>

            <div ng-messages="contactUs.email.$error" ng-if="contactUs.$submitted" role="alert">
                <p class="error" ng-message="required">{{$ctrl.errors.email.required}}</p>
                <p class="error" ng-message="pattern">{{$ctrl.errors.email.invalid}}</p>
            </div>

            <span ng-class="{'error': !$ctrl.contactUsModel.messege && contactUs.$submitted}" class="input-header" ng-if="$ctrl.contactUsModel.messege || contactUs.messege.$error.maxlength || contactUs.messege.$error.minlength">Message</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.contactUsModel.messege}">
                <span class="icon-sms-bubble-speech" ng-class="{'input-error': !$ctrl.contactUsModel.messege && contactUs.$submitted}"></span>
                <textarea ng-class="{'input-error': !$ctrl.contactUsModel.messege && contactUs.$submitted,'hight-textarea ': $ctrl.contactUsModel.messege.length > 38, 'veryhight-textarea': $ctrl.contactUsModel.messege.length > 108}"
                       ng-model="$ctrl.contactUsModel.messege"
                       name="messege"
                       required
                       type="text"
                       class="custom-input"
                       placeholder="Message"
                       ng-maxlength="$ctrl.validation.messege.maxLength"
                       ng-minlength="$ctrl.validation.messege.minLength"></textarea>
            </div>

            <div ng-messages="contactUs.messege.$error" ng-if="contactUs.$submitted" role="alert">
                <p class="error" ng-message="required">{{$ctrl.errors.messege.required}}</p>
                <p class="error" ng-message="maxlength">{{$ctrl.errors.messege.maxLength}}</p>
                <p class="error" ng-message="minlength">{{$ctrl.errors.messege.minLength}}</p>
            </div>

            <div class="server-error-container" ng-if="$ctrl.serverError">
                <span class="error">{{$ctrl.serverError}}</span>
            </div>

            <div class="login-button">

                <button type="submit" class="btn-custom btn-black">
                    Send
                </button>
            </div>

        </form>
</main>







