﻿<div class="notfound-container">
    <img src="../../Content/images/404.png" />

    <br />
    <h3>
        Page not found !
    </h3>
    <br />
    <button ui-sref="home" class="btn-custom btn-black">
        Go to Home
    </button>
</div>