﻿<div class="notfound-container">
    <h1>
        500
    </h1>
    <br />
    <h3>
        Server internal error!
    </h3>
    <br />
    <button ui-sref="home" class="btn-custom btn-black">
        Go to Home
    </button>
</div>