﻿<main class="container" escape-auto-focus>
    <div class="login-general-container">
        <div class="login-logo" ui-sref="home">
            <img src="../../../Content/images/blackLogo.png" />
        </div>
        <div class="home-second-tittle login-tittle">
            <span class="icon-horizontal-line"></span>  FORGOT PASSWORD  <span class="icon-horizontal-line"></span>
        </div>
        <form class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-form" novalidate name="forgotPassword" ng-submit="$ctrl.forgotPassword(forgotPassword)">
            <span class="login-text" ng-if="!$ctrl.emailSent">
               Forgot your Password? No problem. Enter your Email and we'll send you a link to reset it!
            </span>
            <span class="login-text" ng-if="$ctrl.emailSent">
                Please check email to activate and reset your password
            </span>

            <span ng-class="{'error': !$ctrl.model.email && !$ctrl.emailSent && forgotPassword.$submitted}" class="input-header" ng-if="$ctrl.model.email || forgotPassword.email.$error.pattern && !$ctrl.emailSent">Email</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.model.email}" ng-if="!$ctrl.emailSent">
                <span class="icon-user-shape icon-color" ng-class="{'input-error': !$ctrl.model.email && forgotPassword.$submitted}"></span>
                <input ng-class="{'input-error': !$ctrl.model.email && forgotPassword.$submitted}"
                       ng-model="$ctrl.model.email"
                       name="email"
                       ng-pattern="$ctrl.validation.email.pattern"
                       required class="custom-input"
                       placeholder="Email"
                       auto-focus />
            </div>
            <div ng-messages="forgotPassword.email.$error" ng-if="forgotPassword.$submitted">
                <p class="error" ng-message="pattern">{{$ctrl.errors.email.invalid}}</p>
                <p class="error" ng-message="required">{{$ctrl.errors.email.required}}</p>
            </div>

            <div class="login-button">
                <button type="submit" class="btn-custom btn-black" ng-if="!$ctrl.emailSent">
                    Reset
                </button>
                <button type="submit" class="btn-custom btn-black" ui-sref="home" ng-if="$ctrl.emailSent">
                    Home
                </button>
            </div>
        </form>
    </div>
</main>