﻿<main class="container" escape-auto-focus>
    <div class="login-general-container">
        <div class="login-logo" ui-sref="home">
            <img src="../../../Content/images/blackLogo.png" />
        </div>
        <div class="home-second-tittle login-tittle">
            <span class="icon-horizontal-line"></span>  FORGOT PASSWORD  <span class="icon-horizontal-line"></span>
        </div>
        <form class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-form" novalidate name="resetPassword" ng-submit="$ctrl.resetPassword(resetPassword)">
            <span class="login-text reset-password-text">
                Please enter your new password
            </span>

            <span ng-class="{'error': (!$ctrl.resetPasswordModel.password || $ctrl.isSpace($ctrl.resetPasswordModel.password)) && resetPassword.$submitted}" class="input-header" ng-if="$ctrl.resetPasswordModel.password != null || resetPassword.password.$error.minlength || resetPassword.password.$error.maxlength">New Password</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.resetPasswordModel.password}" ng-if="!$ctrl.emailSent">
                <span class="icon-unlocked-padlock icon-color" ng-class="{'input-error': ()!$ctrl.resetPasswordModel.password || $ctrl.isSpace($ctrl.resetPasswordModel.password)) && resetPassword.$submitted}"></span>
                <input ng-class="{'input-error': (!$ctrl.resetPasswordModel.password || $ctrl.isSpace($ctrl.resetPasswordModel.password)) && resetPassword.$submitted}"
                       class="custom-input"
                       placeholder="New Password"
                       ng-model="$ctrl.resetPasswordModel.password"
                       autocomplete="off"
                       ng-minlength="{{$ctrl.validation.password.minLength}}"
                       ng-maxlength="{{$ctrl.validation.password.maxLength}}"
                       name="password"
                       type="password"
                       required
                       auto-focus />
            </div>
            <div ng-messages="resetPassword.password.$error" ng-if="resetPassword.$submitted" class="input-error-container">
                <p class="error" ng-message="minlength">{{$ctrl.errors.password.minLength}}</p>
                <p class="error" ng-message="maxlength">{{$ctrl.errors.password.maxLength}}</p>
                <p class="error" ng-message="required">{{$ctrl.errors.password.required}}</p>
            </div>

            <div class="input-error-container">
                <p class="error" ng-if="$ctrl.isSpace($ctrl.resetPasswordModel.password) && !resetPassword.password.$invalid && resetPassword.$submitted">This field is incorrect</p>
            </div>

            <span ng-class="{'error': (resetPassword.confirmedPassword.$touched && $ctrl.isMatch() && !resetPassword.confirmedPassword.$invalid) || resetPassword.confirmedPassword.$invalid && resetPassword.$submitted}" class="input-header"
                  ng-if="($ctrl.resetPasswordModel.confirmedPassword || resetPassword.confirmedPassword.$error.minlength || resetPassword.confirmedPassword.$error.maxlength) || ($ctrl.isMatch() && !resetPassword.confirmedPassword.$invalid)">Confirm Password</span>
            <div class="input-relative-container"  ng-class="{'input-black-border': $ctrl.resetPasswordModel.confirmedPassword}" ng-if="!$ctrl.emailSent">
                <span class="icon-unlocked-padlock icon-color" ng-class="{'input-error': (resetPassword.confirmedPassword.$touched && $ctrl.isMatch() && !resetPassword.confirmedPassword.$invalid) || resetPassword.confirmedPassword.$invalid && resetPassword.$submitted}"></span>
                <input ng-class="{'input-error': (!$ctrl.resetPasswordModel.confirmedPassword || $ctrl.isSpace($ctrl.resetPasswordModel.confirmedPassword)) && resetPassword.$submitted ||  ($ctrl.isMatch() && resetPassword.confirmedPassword.$touched), 'input-black-border': $ctrl.resetPasswordModel.confirmedPassword}" 
                       class="custom-input" 
                       placeholder="Confirm Password" 
                       ng-model="$ctrl.resetPasswordModel.confirmedPassword" 
                       autocomplete="off" 
                       ng-minlength="{{$ctrl.validation.password.minLength}}"
                       ng-maxlength="{{$ctrl.validation.password.maxLength}}"
                       name="confirmedPassword" 
                       type="password" 
                       required />
            </div>
            <div ng-messages="resetPassword.confirmedPassword.$error" ng-if="resetPassword.$submitted" class="input-error-container">
                <p class="error" ng-message="minlength">{{$ctrl.errors.password.minLength}}</p>
                <p class="error" ng-message="maxlength">{{$ctrl.errors.password.maxLength}}</p>
                <p class="error" ng-message="required">{{$ctrl.errors.password.required}}</p>
            </div>
            
            <div class="input-error-container">
                <p class="error" ng-if="!$ctrl.isSpace($ctrl.resetPasswordModel.confirmedPassword) && resetPassword.confirmedPassword.$touched && $ctrl.isMatch() && !resetPassword.confirmedPassword.$invalid">{{$ctrl.errors.password.incorrect}}</p>
                <p class="error" ng-if="$ctrl.isSpace($ctrl.resetPasswordModel.confirmedPassword) && !resetPassword.confirmPassword.$invalid && resetPassword.$submitted">This field is incorrect</p>
            </div>

            <div class="input-error-container" ng-if="$ctrl.serverError">
                <p class="error">{{$ctrl.serverError}}</p>
            </div>


            <div class="login-button">
                <button type="submit" class="btn-custom btn-black">
                    Submit
                </button>
            </div>
        </form>
    </div>
</main>