﻿<div class="container" escape-auto-focus>
    <div class="login-general-container">
        <div class="login-logo" ui-sref="home">
            <img src="../../../Content/images/blackLogo.png" />
        </div>
        <div class="home-second-tittle login-tittle">
            <span class="icon-horizontal-line"></span>  SIGN UP  <span class="icon-horizontal-line"></span>
        </div>
        <form class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-form" name="register" novalidate ng-submit="$ctrl.signUp(register)">
           
            <span ng-class="{'error': !$ctrl.register.fullName && register.$submitted}" class="input-header" 
                  ng-if="$ctrl.register.fullName || register.fullName.$error.maxlength || register.fullName.$error.minlength  || register.fullName.$error.pattern">Full Name</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.register.fullName}">
                <span class="icon-user-shape icon-color" ng-class="{'input-error': !$ctrl.register.fullName && register.$submitted}"></span>
                <input ng-class="{'input-error': !$ctrl.register.fullName && register.$submitted}"
                       ng-model="$ctrl.register.fullName"
                       autocomplete="off"
                       required
                       name="fullName"
                       type="text"
                       class="custom-input"
                       placeholder="Full Name"
                       ng-pattern="$ctrl.validation.fullName.pattern"
                       ng-maxlength="{{$ctrl.validation.fullName.maxLength}}"
                       ng-minlength="{{$ctrl.validation.fullName.minLength}}"
                       auto-focus/>
            </div>

            <div ng-messages="register.fullName.$error" ng-if="register.$submitted" role="alert" class="input-error-container">
                <p class="error" ng-message="required">{{$ctrl.errors.fullName.required}}</p>
                <p class="error" ng-message="maxlength">{{$ctrl.errors.fullName.maxLength}}</p>
                <p class="error" ng-message="minlength">{{$ctrl.errors.fullName.minLength}}</p>
                <p class="error" ng-message="pattern">{{$ctrl.errors.fullName.invalid}}</p>
            </div>

            
            <span ng-class="{'error': !$ctrl.register.email && register.$submitted}" class="input-header" ng-if="$ctrl.register.email || register.email.$error.pattern || register.email.$error.email">Email</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.register.email}">
                <span class="icon-close-envelope icon-color" ng-class="{'input-error': !$ctrl.register.email && register.$submitted}"></span>
                <input autocomplete="off" ng-class="{'input-error': !$ctrl.register.email && register.$submitted}" 
                       ng-model="$ctrl.register.email" 
                       name="email" type="email" class="custom-input" placeholder="Email" maxlength="100" ng-pattern="$ctrl.validation.email.pattern" required/>
            </div>
           
            <div ng-messages="register.email.$error" ng-if="register.$submitted" role="alert" class="input-error-container">
                <p class="error" ng-message="email">{{$ctrl.errors.email.invalid}}</p>
                <p class="error" ng-message="required">{{$ctrl.errors.email.required}}</p>
                <p class="error" ng-message="pattern">{{$ctrl.errors.email.invalid}}</p>
            </div>

            
            <span ng-class="{'error': !$ctrl.register.payPalId && register.$submitted}" class="input-header" ng-if="$ctrl.register.payPalId || register.payPalId.$error.pattern || register.payPalId.$error.email">PayPal ID</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.register.payPalId}">
                <span class="icon-credit-cards icon-color" ng-class="{'input-error': !$ctrl.register.payPalId && register.$submitted}"></span>
                <input autocomplete="off" ng-class="{'input-error': !$ctrl.register.payPalId && register.$submitted}"
                       ng-model="$ctrl.register.payPalId" name="payPalId" type="email" required class="custom-input" placeholder="PayPal ID" ng-pattern="$ctrl.validation.payPalId.pattern" maxlength="100" />
            </div>
            <div ng-messages="register.payPalId.$error" ng-if="register.$submitted" role="alert" class="input-error-container">
                <p class="error" ng-message="required">{{$ctrl.errors.payPalId.required}}</p>
                <p class="error" ng-message="pattern">{{$ctrl.errors.payPalId.invalid}}</p>
                <p class="error" ng-message="email">{{$ctrl.errors.payPalId.invalid}}</p>
            </div>

            
            <span ng-class="{'error': !$ctrl.register.password && register.$submitted}" class="input-header" 
                  ng-if="$ctrl.register.password || register.password.$error.minlength || register.password.$error.maxlength">Password</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.register.password}">
                <span class="icon-unlocked-padlock icon-color" ng-class="{'input-error': !$ctrl.register.password && register.$submitted}"></span>
                <input autocomplete="off" ng-class="{'input-error': !$ctrl.register.password && register.$submitted}"
                       ng-model="$ctrl.register.password" 
                       required name="password" 
                       type="password" 
                       class="custom-input" 
                       ng-minlength="{{$ctrl.validation.password.minLength}}"
                       ng-maxlength="{{$ctrl.validation.password.maxLength}}"
                       placeholder="Password" />
            </div>

            <div ng-messages="register.password.$error" ng-if="register.$submitted" role="alert" class="input-error-container">
                <p class="error" ng-message="required">{{$ctrl.errors.password.required}}</p>
                <p class="error" ng-message="minlength">{{$ctrl.errors.password.minLength}}</p>
                <p class="error" ng-message="maxlength">{{$ctrl.errors.password.maxLength}}</p>
            </div>

            
            <span ng-class="{'error': (register.confirmPassword.$touched && $ctrl.isMatch() && !register.confirmPassword.$invalid) || register.confirmPassword.$invalid && register.$submitted || $ctrl.isSpace($ctrl.confirmPassword)}" class="input-header" 
                  ng-if="($ctrl.confirmPassword || register.confirmPassword.$error.minlength || register.confirmPassword.$error.maxlength) || ($ctrl.isMatch() && !register.confirmPassword.$invalid)">Confirm Password</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.confirmPassword}">
                <span class="icon-unlocked-padlock icon-color" ng-class="{'input-error':  (!$ctrl.confirmPassword || $ctrl.isMatch()) && register.$submitted}"></span>

                <input autocomplete="off" ng-class="{'input-error': (!$ctrl.confirmPassword || $ctrl.isMatch()) && register.$submitted}"
                       ng-model="$ctrl.confirmPassword" 
                       required name="confirmPassword" 
                       type="password" 
                       class="custom-input" 
                       ng-minlength="{{$ctrl.validation.password.minLength}}"
                       ng-maxlength="{{$ctrl.validation.password.maxLength}}"
                       placeholder="Confirm Password" />
            </div>

            <div ng-messages="register.confirmPassword.$error" ng-if="register.$submitted" role="alert" class="input-error-container">
                <p class="error" ng-message="required">{{$ctrl.errors.password.required}}</p>
                <p class="error" ng-message="minlength">{{$ctrl.errors.password.minLength}}</p>
                <p class="error" ng-message="maxlength">{{$ctrl.errors.password.maxLength}}</p>
            </div>
            
            <div class="input-error-container">
                <p class="error" ng-if="!$ctrl.isSpace($ctrl.confirmPassword) && register.confirmPassword.$touched && $ctrl.isMatch() && !register.confirmPassword.$invalid">{{$ctrl.errors.password.incorrect}}</p>
                <p class="error" ng-if="$ctrl.isSpace($ctrl.confirmPassword) && !register.confirmPassword.$invalid">This field is incorrect</p>
            </div>

            <p class="custom-checkbox login-terms-link">
                <input required name="agree" ng-model="$ctrl.register.termsOfUse" type="checkbox" id="agree" />
                <label for="agree" class="custom-label">
                    I agree with
                    <a ui-sref="termsOfUse" href="">
                        Terms of Use
                    </a>
                </label>
            </p>

            <div ng-messages="register.agree.$error" ng-if="register.$submitted" role="alert" class="input-error-container under-checkbox-error">
                <p class="error" ng-message="required">You must agree with Terms of Use and Privacy Policy.</p>
            </div>



            <div class="input-error-container signup-server-error" ng-if="$ctrl.serverError">
                <p class="error">{{$ctrl.serverError}}</p>
            </div>
            <div class="login-button">
                <button type="submit" class="btn-custom btn-black">
                    Sign Up
                </button>
            </div>


            <div class="login-bottom-text-link">
                <span>
                    Already have an account?
                </span>
                <a ui-sref="signin">Sign In</a>
            </div>

        </form>
    </div>
</div>
