﻿<main class="container" escape-auto-focus>
    <div class="login-general-container">
        <div class="login-logo" ui-sref="home">
            <img src="../../../Content/images/blackLogo.png" />
        </div>
        <div class="home-second-tittle login-tittle">
            <span class="icon-horizontal-line"></span>  SIGN IN  <span class="icon-horizontal-line"></span>
        </div>
        <form class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 login-form" name="login" novalidate ng-submit="$ctrl.signIn(login)">
           
            <span ng-class="{'error': !$ctrl.signInInfo.username && login.$submitted}" class="input-header" ng-if="$ctrl.signInInfo.username != null || login.email.$error.pattern || login.email.$error.email">Email</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.signInInfo.username.length > 0}">
                <span class="icon-close-envelope icon-color" ng-class="{'input-error': !$ctrl.signInInfo.username && login.$submitted}"></span>
                <input ng-class="{'input-error': !$ctrl.signInInfo.username && login.$submitted}"
                       ng-model="$ctrl.signInInfo.username"
                       type="email" required name="email"
                       class="custom-input"
                       placeholder="Email"
                       auto-focus
                       ng-pattern="$ctrl.validation.email.pattern"
                       />
            </div>
            <div ng-messages="login.email.$error" ng-if="login.$submitted" class="input-error-container">
                <p class="error" ng-message="email">{{$ctrl.errors.email.invalid}}</p>
                <p class="error" ng-message="required">{{$ctrl.errors.email.required}}</p>
                <p class="error" ng-message="pattern">{{$ctrl.errors.email.invalid}}</p>
            </div>


            <span ng-class="{'error': !$ctrl.signInInfo.password && login.$submitted}" class="input-header" ng-if="$ctrl.signInInfo.password != null || login.password.$error.minlength || login.password.$error.maxlength">Password</span>
            <div class="input-relative-container" ng-class="{'input-black-border': $ctrl.signInInfo.password}">
                <span class="icon-unlocked-padlock  icon-color" ng-class="{'input-error': !$ctrl.signInInfo.password && login.$submitted}" ></span>
                <input ng-class="{'input-error': !$ctrl.signInInfo.password && login.$submitted}" 
                       ng-model="$ctrl.signInInfo.password" required type="password" name="password" class="custom-input" placeholder="Password"
                       ng-minlength="{{$ctrl.validation.password.minLength}}"
                       ng-maxlength="{{$ctrl.validation.password.maxLength}}"
                       autocomplete="off"/>

            </div>
            <div ng-messages="login.password.$error" ng-if="login.$submitted" class="input-error-container">
                <p class="error" ng-message="required">{{$ctrl.errors.password.required}}</p>
                <p class="error" ng-message="minlength">{{$ctrl.errors.password.minLength}}</p>
                <p class="error" ng-message="maxlength">{{$ctrl.errors.password.maxLength}}</p>
            </div>
            
            <div class="input-error-container" ng-if="$ctrl.serverError">
                <p class="error">{{$ctrl.serverError}}</p>
            </div>

            <div class="login-button">
                <button type="submit" class="btn-custom btn-black">
                    Sign In
                </button>
            </div>
            <div class="login-footer">
                <a ui-sref="forgotPassword">
                    Forgot Password?
                </a>
            </div>
            <div class="login-bottom-text-link">
                <span>
                    Don't have an account?
                </span>
                <a ui-sref="signup">Sign Up</a>
            </div>
        </form>
    </div>
</main>





